# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

SERVER_PORT=3300
ENV="dev"
DATABASE_URL="mysql://root:Super123@localhost:3306/logistic_report"
LARDI_TOKEN=24X0HJHQTON000002071
JWT_ACCESS_TOKEN_SECRET=superpuperaccesssecret
JWT_REFRESH_SECRET=super-puper-refresh-secret
JWT_ACCESS_TOKEN_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=30m

# APP
#APP_PORT=4000
#SERVER_API_URL=https://api.killa.ai/
SERVER_API_URL=http://127.0.0.1:3300/
FRONTEND_URL=http://127.0.0.1:3222/

# STRIPE
#STRIPE_URL=https://buy.stripe.com/3cscNt2gHcpA4uY7ss
#STRIPE_URL=https://buy.stripe.com/bIY7vB8p46pf8LedQQ
STRIPE_API=https://api.stripe.com/v1/
STRIPE_API_KEY=sdsadsadsadsf
#STRIPE_PRODUCT_ID=prod_KPJwHHN8u5xK2L
STRIPE_YEAR_PRICE_ID=assda
STRIPE_MONTH_PRICE_ID=pricsde_1JkdsadasXcmAgyA4XwzVhZx8tZu74
STRIPE_FLAT_FEE_PRICE_ID=price_23edsdf3
#STRIPE_TRIAL_MONTH_PRICE_ID=price_1JkVIEAgyA4XwzVh9fMWiQQv

# LiqPay
LIQPAY_PUBLIC_KEY=sandbox_i57537261296
LIQPAY_PRIVATE_KEY=sandbox_w7lq8WuDregd9iJE8MLZ1siWr7OqYLNII4uQDleu

#FREE PLAN
MAX_AUTOS=5
REPORT_DAYS=7

